/* GLOBAL STYLES */
:root {
  --primary--color: white;
  --secondary--color: gray;
  --background-color: black;

  --text-color1: white;
  --text-color2: gray;
  --anchor-hover-color: greenyellow;
}

* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;

  font-family: 'Satoshi', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color1);
  scroll-behavior: smooth;
  -webkit-font-smoothing: subpixel-antialiased;
}

header {
  z-index: 1;
  background: transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

footer {
  left: 0;
  bottom: 0;
  position: fixed;
  background-color: var(--background-color);
}

#menu {
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color1);
  font-size: 1.5em;
  position: absolute;
  top: 70px;
  right: 0;
  padding: 10px;
  animation: expand .3s ease-in forwards;
}

@keyframes expand {
  0% {
    width: 50px;
    height: 50px;
    border-radius: 100% 0;
    top: 70px;
    right: 0;
  }

  100% {
    width: 100%;
    height: 100vh;
    border-radius: 0 0 0% 0;
    top: 70px;
    right: 0;
  }
}

.flex {
  display: flex;
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  place-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.text-gray {
  color: var(--text-color2);
}

.text-white {
  color: var(--text-color1);
}

.padx-5 {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.pady-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pointer {
  cursor: pointer;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.hover-gray:hover {
  color: var(--text-color2);
}

.hover-white:hover {
  color: var(--text-color1);
}

.full-width {
  width: 100%;
}

/* Only for navbar vs page height */
.full-height-a {
  height: 100%;
  height: calc(100vh - 90px)
}

/* Only for navbar vs page height */
.position-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.screen-full-w {
  width: 100vw;
}

.transition-all {
  transition: all .3s ease;
}

p {
  font-size: 1.2em;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 1.2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color2);
}

.heading-height {
  line-height: .5;
}

#byLine {
  margin-top: -3rem;
  margin-bottom: 5rem;
  font-size: 1.2em;
  font-weight: normal;
}

/* Buttons--main */
.contact--btn {
  svg {
    width: 1rem;
    fill: var(--primary--color);
  }

  &:hover {
    svg {
      fill: var(--secondary--color);
    }
  }
}

.primary--btn {
  width: 5rem;
  height: 2.4rem;

  background-color: transparent;
  border: 1px solid var(--primary--color);
  border-radius: 30px;
  font-size: 1em;

  &:hover {
    background-color: var(--primary--color);
    color: var(--background-color);
    transition: all .3s ease-in-out;
  }
}

.app--btn {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  color: var(--background-color);
  font-size: 5px;
  background-color: var(--primary--color);

  &:hover {
    background-color: var(--background-color);
    color: var(--text-color1);
    transition: all .3s ease-in-out;
  }
}


/* Buttons-- Call to action */
.cto-container {
  border: .8px solid var(--primary--color);
  border-radius: 30px;
  width: 12rem;
  height: 3rem;

  .ctaBtn {
    background-color: transparent;
    border-radius: 30px;
    border: .5px solid white;
    width: 3rem;
    height: 3rem;

    svg {
      fill: var(--primary--color);
    }
  }

  #cta-text {
    margin-left: 2.9em;
  }
}



/* Gaps */
.gap {
  gap: 40px;
}

.gap-sm {
  gap: 10px;
}

/* Project Cards */
.card {
  width: 40rem;
  height: 40rem;
  border: .11rem solid #282828;
  border-radius: 10px;
  padding: 15px;
  background: linear-gradient(to top, #2f7f9e2c, #ffffff04);

  &:hover {
    background: linear-gradient(to top, #3b986d3b, #ffffff04);
    transition: 1s ease;
  }


  #imageWrapper {
    width: 100%;

    img {
      object-fit: cover;
      border-radius: 8px;
      width: 100%;
      height: auto;
    }
  }

  
  #deck {
    height: 100%;
    width: 100%;
    font-weight: 300;

    h2 {
      margin-bottom: 5px;
    }
  }
}

.flex-column {
  flex-direction: column;
}


.page-pad {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* ABOUT PAGE PROFILE PHOTO */
.profile {
  border-radius: 100%;
  min-height: 100%;
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  filter: grayscale();
}

.bio-wrapper {
  min-height: 100%;
  gap: 4rem;
  margin: 7rem 0rem;

  .para-wrapper {
    width: 35rem;
    word-wrap: break-word;
    line-height: 1.3em;
  }
}

.stack-container {
  width: 6rem;
  min-height: 6rem;

  img {
    width: 2.5rem;
  }
}

.stack--wrapper {
  width: 100%;
  min-height: 100%;
  padding: 5rem 0;
}

.cv-wrapper {
  padding: 0 20rem;

  li::before {
    content: '• ';
  }

  span {
    font-style: oblique;
    color: #ae9f83;
  }

  .download--wrapper {
    justify-content: right;

    svg {
      width: 1rem;
      fill: var(--secondary--color);
    }

    &:hover {
      svg {
        fill: var(--primary--color);
      }
    }
  }
}


/* MEDIA-QUERIES */
/* Small Screens */
@media screen and (min-width: 380px) {

  #--home,
  #--work,
  #--about {
    #--cta-container {
      width: 9rem;
    }

    .ctaBtn {
      display: flex;
      justify-content: center;

      svg {
        width: 1rem;
      }

    }

    #cta-text {
      margin-left: 2em;
      font-size: .9em;
    }

    h1 {
      font-size: 2.8rem;
      line-height: 1;
    }

    p {
      font-size: 1em;
      display: flex;
      flex-wrap: wrap;
      width: 24rem;
      text-align: center;
    }

    h2 {
      font-size: 3em;
    }

    h3,
    span {
      font-size: 1em;
    }
  }

  #--header>nav {
    visibility: hidden;
  }

  #card {
    width: 80%;
    height: 20rem;

    #imageWrapper {
      img {
        width: 20rem;
        height: 20rem;
      }
    }
    
    #deck {
      padding: 20px;
      width: 100%;
    }
  }

  .profile {
    height: 12rem;
    width: 12rem;
  }

  .bio-wrapper {
    gap: rem;
    width: 24rem;

    .para-wrapper {
      line-height: 1.1em;

      h2 {
        line-height: 1;
        text-align: center;
      }
    }
  }

  .stack--wrapper {
    width: 29rem;
  }

  .cv-wrapper {
    width: 24rem;
    padding: 0rem;
  }

}

/* Medium Screens */
@media screen and (min-width: 768px) {
  #--header #--ham-container {
    display: none;
  }

  #--home,
  #--work,
  #--about {
    #--cta-container {
      width: 10.5rem;
    }

    h1 {
      font-size: 4rem;
      line-height: .9;
    }

    p {
      /* font-size: .99em; */
      display: flex;
      flex-wrap: wrap;
    }

    h3,
    span {
      font-size: .9rem;
    }
  }

  #--header>nav {
    visibility: visible;
  }

  #card {
    width: 40rem;
    height: 40rem;

    #imageWrapper {
      img {
        width: 25rem;
        height: 25rem;
      }
    }

    #deck {
      width: 80%;
    }
  }

  .profile {
    height: 12rem;
    width: 12rem;
  }

  .bio-wrapper {
    width: 40rem;
  }

  .cv-wrapper {
    width: 39rem;
    padding: 0rem;
  }

}

/* Large Screens */
@media screen and (min-width: 1200px) {

  #--home,
  #--work,
  #--about {
    #--cta-container {
      width: 10.5rem;
    }

    h1 {
      font-size: 5rem;
      line-height: .9;
    }

    p {
      /* font-size: .99em; */
      display: flex;
      flex-wrap: wrap;
    }

    h3,
    span {
      font-size: .9rem;
    }
  }

  #--header>nav {
    visibility: visible;
  }

  .profile {
    height: 15rem;
    width: 15rem;
  }

  .bio-wrapper {
    gap: 6rem;
    min-width: 75rem;

    .para-wrapper {
      line-height: 1.3em;
    }
  }

  .stack--wrapper {
    width: 100%;
    min-height: 100%;
    padding: 5rem 0;
  }

  .cv-wrapper {
    min-width: 70rem;
  }

  #card {
    width: 35rem;
    height: 35rem;


    #imageWrapper {
      width: 100%;

      img {
        width: 35rem;
        height: 35rem;
      }
    }

    #deck {
      height: 100%;
      width: 60%;
    }
  }
}

/* Dev debugging */
.debug {
  border: 1px solid coral;
}

.debug2 {
  border: 1px solid lime;
}