/* GLOBAL STYLES */

* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Geist Variable';
  background-color: black;
  scroll-behavior: smooth;
}

header {
  z-index: 1;
  background: transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.flex {
  display: flex;
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  place-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.text-gray {
  color: gray;
}

.text-white {
  color: white;
}

.padx-5 {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.pady-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pointer {
  cursor: pointer;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.hover-gray:hover {
  color: gray;
}

.hover-white:hover {
  color: white;
}

.full-width {
  width: 100%;
}

/* Only for navbar vs page height */
.full-height {
  height: 100vh;
  height: calc(100vh - 50px)
}

/* Only for navbar vs page height */
.position-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.screen-full-w {
  width: 100vw;
}

.transition-all {
  transition: all .3s ease;
}

h1 {
  color: #fff;
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  color: white;
}

h3 {
  font-size: 1rem;
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: gray;
}

.hero-txt-efx {
  background: -webkit-radial-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-height {
  line-height: .9;
}

#byLine {
  margin-top: -3rem;
  padding-bottom: 5rem;
  font-size: 1.2em;
}

.primaryBtn {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  width: 5.8rem;
  height: 30px;
  font-size: .87em;
}

.secondaryBtn {
  width: 8rem;
  height: 2.4rem;

  background-color: #fff;
  border-radius: 30px;
  border: 0;
  font-size: 1em;
}

.ctaBtn {
  background-color: white;
  border-radius: 30px;
  border: none;
  width: 3rem;
  height: 3rem;
}

.cto-outline {
  border: .8px solid white;
  border-radius: 30px;
  width: 12rem;
  height: 3rem;
}

#cta-text {
  margin-left: 2.5em;
}

/* gap between each list item */
.gap {
  gap: 40px;
}

.gap-sm {
  gap: 10px;
}


.card {
  width: 40rem;
  height: 40rem;
  border: .1rem solid gray;
  border-radius: 10px;
  position: relative;


  #imageWrapper {
    width: 100%;

    img {
      object-fit: cover;
      border-radius: 8px;
      width: 40rem;
      height: 40rem;
    }
  }

  #cardContent {
    position: absolute;
    bottom: 0;
    margin-bottom: 5rem;
  }

  #deck {
    height: 100%;
    width: 60%;
    margin-top: -3rem;
    font-weight: 300;
  }
}

.flex-column {
  flex-direction: column;
}

/* Might delete tags */
.tag-hover-efx:hover {
  border-color: gray;
}

.tags {
  border: 1px solid white;
  border-radius: 30px;
  width: 12rem;
  padding-right: .5em;
  padding-left: .5em;
  height: 1.50rem;
  font-size: .8rem;
}